#panell{
  margin-top: 100px;
  padding: 0px;
}
#loginbtn{
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
}
#title{
  background-color: #2bbbad;
  color: white;
  padding: 8px;
  margin-top: 0px
}
form{
  padding:0px;
  border-radius: 3px;
  box-sizing: border-box;
}
#username,#password,#email{
  margin-left: 20px;
  margin-right: 20px;
}
#checkbox{
  margin-left: 30px;
}

body {
    background-color: #eee;
    background: url('../images/education.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body > .index {
   background-color: #f7f2fc;
   min-height: inherit; 
   border-left: 1px solid #ddd; 
    border-right: 1px solid #ddd;
   box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1); 
}
.appbar {
  background: #2bbbad;
}
.appbar .brand {
  line-height: 56px;
  font-size: 3rem;
}
h5.error {
  color: red;
  text-align: center;
}
h5.deleted {
  color: red;
}
h5.message {
  color: #0091EA;
}
h5.status {
  color: #0091EA;
}

.brand-logo {
  margin-left: 30px;
}

.login-link{
  margin-left: 20px;
}

.topic a :hover{
  background-color: #94d1c2;
}

.details {
  background-color: #f4f9f8;
}

body .container {
padding-top: 10vh;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body .auth{
  color: white;
}

body .resources {
  background-color: #f7f2fc;
  min-height: inherit; 
  border-left: 200px solid #ddd; 
  border-right: 1px solid #ddd;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1); 

}

.add-resource {
  padding-top: 10px;
}