<div class="row">
    <form method="post" action="/topics/<%=@topic.id%>" class="mui-form">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <div class="row">
        <div class="input-field col s6">
        <input type="text" name="name" id="name" value="<%= @topic.name%>"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <textarea name="description" id="description"><%= @topic.description%></textarea>
        </div>
    </div>
    <br><button type="submit" class="btn btn--primary">Update topic</button>
    </form>
    <form method="post" action="/topics/<%=@topic.id%>" class="mui-form">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn--primary">Delete Topic</button>
    </form>
</div>