<div class="row">
<h5> All Topics </h5>
<% if @topics.length > 0 %>
<% @topics.each do |topic|%>
    <div class="">
        <div class="col s12 m6">
                <div class="card-panel teal lighten-2 topic">
                <a href="/topics/<%=topic.id%>">
                    <div class="white-text">
                        <p><%=topic.name%></p>
                        <hr />
                    </div>
                </a> 
                    <div class="white-text">
                        <p><%=topic.description%></p>
                    </div>
                </div> 
        </div>
    </div>
   <%end%>
<% else %>
<h5> No topics yet </h5>
<%end%>
</div>
