<div class="row topics list">
  <div class="col-md-12">
    <% if @subscribed.length > 0 %>
      <h3>My topic list</h3>
        <table class="striped">
          <thead>
            <tr>
              <th>Topic</th>
              <th>Resources</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <% @subscribed.each do |topic|%>
          <td>
              <a href="/topics/<%=topic.id%>"><%= topic.name%>
            </td>
            <td> 
              <form method="get" action="resources/<%= topic.id%>" class="form">
                <button type="submit" class="btn btn--smallbtn--primary">Resources</button>
              </form></td>
            <td>
              <form method="post" action="subscribed/topics/<%= topic.id%>" class="form">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn--small btn--danger delete-button">Delete Topic</button>
              </form>
            </td>
          </tr>
      <%end%>
      <%else%>
      <h3>You do not have any yet topics</h3>
    <%end%>
  </div>
</div>
