    <div class="row">
        <h3>Create a new topic</h3>
        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>
        <form method="post" action="/topics" class="form col s12">
        <div class="row">
          <div class="input-field col s6">
            <input name="name" id="name" type="text" required>
            <label for="input_text">Topic name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="description" id="description" class="materialize-textarea" required></textarea>
            <label for="textarea2">Topic Description</label>
          </div>
        </div>
        <br><button type="submit" class="btn btn--primary">Create topic</button>
      </form>
    </div>