<%# IF instructor, show this page%>
<div class="mui-row">
    <div class="mui-col-md-12">
        <h1>Create a new topic</h1>
        <form method="post" action="/topics" class="mui-form">
            <legend>Topic name</legend>
            <div class="mui-textfield">
                <input type="text" name="name" id="name" required/>
            </div>

            <legend>Description</legend>
            <div class="mui-textfield">
                <textarea name="description" id="description" required></textarea>
            </div>
            
            <br><button type="submit" class="mui-btn mui-btn--primary">Create topic</button>
        </form>

        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>
    </div>
</div>
