<div class="row index">
    <div class="col s6 offset-s3 z-depth-1 grey lighten-5" id="panell">
        <% if flash.has?(:error) %>
            <h5 class="error"><%= flash[:error] %></h5>
        <% end %>
        <h5 id="title">Login Form</h5>
            <form method="post" action="/login" class="form"> 
                <div class="input-field" id="username">
                    <input  type="text"  name="username" required="Username required" class="validate">
                        <label for="username">Username</label>
                </div>
                <div class="input-field" id="password">
                    <input  type="password"  required="password required" name="password" class="validate">
                        <label for="password">Password</label>
                </div>
                <button type="submit" class="waves-effect waves-light btn"  id="loginbtn">Login</button>
            </form>
        <p class="login-link"> New User? <a href="/signup"> Signup Here </a> </p>
    </div>
</div>