<div class="row topics">
<h5> All Resources </h5>
<% if @resources.length > 0 %>
<% @resources.each do |resource|%>
    <div class="col s12 m6">
        <div class="card-panel teal lighten-2">
            <div class="white-text">
                <p><%=resource.title%></p>
                <hr />
            </div>
            <div class="white-text">
                <p><%=resource.description%></p>
            </div>
            <div class="white-text">
                <p><%=resource.url%></p>
            </div>
        </div> 
    </div>
   <%end%>
<% else %>
<h5> No Resources yet </h5>
<%end%>
</div>
