    <div class="row">
        <h3>Create resource</h3>
        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% end %>
        <form method="post" action="/resources" class="form col s12">
        <div class="row">
          <div class="input-field col s6">
            <input name="title" id="name" type="text" required>
            <label for="input_text">Resource name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input name="url" id="name" type="text" required>
            <label for="input_text">Resource url</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="description" id="description" class="materialize-textarea" required></textarea>
            <label for="textarea2">Resource Description</label>
          </div>
        </div>
        <br><button type="submit" class="btn btn--primary">Create resource</button>
      </form>
    </div>