%form{ :action => "", :method => "post"}
  %div
    %h1 Create Categories
    %p Please fill in this form to create a learning category
    %hr
    %label{:for => "category"} Category
    %input{:type => "text", :placeholder => "Enter Learning category", :name => "category"}
    %div
    %input{:type => "submit", :value => "Add", :class => "button"}
- @category.each do |cat|
  %li= cat.category