<div class="row index-home">
    <div class="col m8 s12 auth">
        <span class="flow-text">
            <div>
                <h4> About MicroLearning </h4>
                <p>MicroLearning provides resources for
                avid learners to help learn new things every day.
                We only curate the topics and resources and categorize them to help 
                learners find the right resources. 
                </p>
            </div>        
        </span>
    </div><div class="col m4 s12">
        <span>
            <div class="auth">
                <h4>Already a user?</h4>
                <p><a class="index-link" href="/login">Log In Here</a></p>
                <h4>New user?</h4>
                <p><a class="index-link" href="/signup">Sign Up Here</a></p>
            </div>        
        </span>
    </div>    
</div>

