<!DOCTYPE html>
<html>
  <head>
    <title>MicroLearning Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
  <nav class="appbar">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">MicroLearning</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
          <li><a href="/topics">View topics</a></li>
        <%# Admin menu links %>
        <% if current_user.admin%>
          <li><a href="/topics/new">Create new topic</a></li>
          <li><a href="/resources/new">Create new Resource</a></li>
          <% else %>
            <li><a href="/subscribed">My topics</a></li>
        <%end%>
        <li><a href="/logout">Log out</a></li>
      <%end%>
      </ul>
    </div>
  </nav>  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>