<div>
  <div>
  <p> <strong> Hello <%=username%> </strong>
  <br/>
  <br />
    Here is the link for your today's resource 
    <a href="<%=url%>"> <%=url%> </a> for your topic <strong> <%=topic%> </strong>
  </div>
  <br />
  <div>
    <h5>Truly yours,</h5>
    <p><b>The MicoLearning Team</b></p>
  </div>
</div>
