<div>
  <div>
  <p> <strong> Hello <%=user.username%> </strong>
  <br/>
    Here is the link for your today's resource 
    <a href="<%=resource.url%>"> <%=resource.url%> </a>
  </div>
  <div>
    <h5>Truly yours,</h5>
    <p><b>The MicoLearning Team</b></p>
  </div>
</div>
